* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box-form {
  max-width: 1170px;
  margin: 3rem auto;
}

.table-report tbody tr th {
  padding: 0.5rem 3rem;
}

.table-report {
  text-align: center;
}
